*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.bsp/
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
# All the files under .idea/ are ignore. To add new files under ./idea that are not in the VCS yet, please use `git add -f`
.idea/

!.idea/vcs.xml
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
/lib/
build/*.jar
build/apache-maven*
build/scala*
cache
checkpoint
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
conf/java-opts
conf/slaves
dependency-reduced-pom.xml
log/
logs/
out/
reports/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
target/
unit-tests.log

# For Hive
TempStatsStore/
metastore/
metastore_db/
sql/hive-thriftserver/test_warehouses
warehouse/
spark-warehouse/

# For SBT
.jvmopts

